* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: rgb(147, 41, 185);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: rgb(196, 218, 237);
}